Object Dashboard

<%= link_to 'New upload', new_object_record_path %>

<%= form_for :search, html: {id: 'search'}, url: {controller: "object_snapshots", action: "create"}, remote: true do |f| %>
  <%= f.number_field :object_id, placeholder: "Object ID", required: true %>
  <%= f.text_field :object_type, placeholder: "Object Type", required: true %>
  <%= f.datetime_field :timestamp %>
  <%= f.submit "Search!" %>
<% end %>

<div id="results">

</div>