Object Dashboard

<%= link_to 'New upload', new_object_record_path %>

<% @objects.each do |object| %>
  <p><%= object.object_id %> <%= object.object_type %> <%= object.timestamp %> <%= object.object_changes %></p>
<% end %>