<!DOCTYPE html>
<html>
  <head>
    <title>ObjectDashboard</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success] %>
      <div class="success">
        <p><%= flash[:success] %></p>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
